$color-fondo:lightgrey;
$color-texto: yellow;
$color-span:pink;
$color-pre: blue;

body{
	background-color:$color-fondo;
}
p{
	color:$color-texto;
}
span{
	color:$color-span;
}
pre{
	color:$color-pre;
}
main{
	display:flex;
}